ENABLE_AUTOSCALER: "true"
AUTOSCALER_MIN_SIZE_0: 
AUTOSCALER_MAX_SIZE_0: 
AUTOSCALER_SCALE_DOWN_DELAY_AFTER_ADD:
AUTOSCALER_SCALE_DOWN_DELAY_AFTER_DELETE:
AUTOSCALER_SCALE_DOWN_DELAY_AFTER_FAILURE:
AUTOSCALER_SCALE_DOWN_UNNEEDED_TIME:
AUTOSCALER_MAX_NODE_PROVISION_TIME: