
AWS_VPC_CIDR: <AWS_VPC_CIDR>
AWS_PUBLIC_NODE_CIDR: <AWS_PUBLIC_NODE_CIDR>
AWS_PUBLIC_NODE_CIDR_1: <AWS_PUBLIC_NODE_CIDR_1>
AWS_PUBLIC_NODE_CIDR_2: <AWS_PUBLIC_NODE_CIDR_2>
AWS_PRIVATE_NODE_CIDR: <AWS_PRIVATE_NODE_CIDR>
AWS_PRIVATE_NODE_CIDR_1: <AWS_PRIVATE_NODE_CIDR_1>
AWS_PRIVATE_NODE_CIDR_2: <AWS_PRIVATE_NODE_CIDR_2>