
AWS_VPC_ID: <AWS_VPC_ID>
AWS_PUBLIC_SUBNET_ID: <AWS_PUBLIC_SUBNET_ID>
AWS_PUBLIC_SUBNET_ID_1: <AWS_PUBLIC_SUBNET_ID_1>
AWS_PUBLIC_SUBNET_ID_2: <AWS_PUBLIC_SUBNET_ID_2>
AWS_PRIVATE_SUBNET_ID: <AWS_PRIVATE_SUBNET_ID>
AWS_PRIVATE_SUBNET_ID_1: <AWS_PRIVATE_SUBNET_ID_1>
AWS_PRIVATE_SUBNET_ID_2: <AWS_PRIVATE_SUBNET_ID_2>