
AWS_ACCESS_KEY_ID: <AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY: <AWS_SECRET_ACCESS_KEY>
AWS_SESSION_TOKEN: <AWS_SESSION_TOKEN>
AWS_REGION: <AWS_REGION>
AWS_NODE_AZ: <AWS_NODE_AZ>
AWS_NODE_AZ_1: <AWS_NODE_AZ_1>
AWS_NODE_AZ_2: <AWS_NODE_AZ_2>

BASTION_HOST_ENABLED: <BASTION_HOST_ENABLED>





