AZURE_CONTROL_PLANE_MACHINE_TYPE: <AZURE_CONTROL_PLANE_MACHINE_TYPE>
AZURE_NODE_MACHINE_TYPE: <AZURE_NODE_MACHINE_TYPE>

AZURE_CONTROL_PLANE_DATA_DISK_SIZE_GIB: <AZURE_CONTROL_PLANE_DATA_DISK_SIZE_GIB>
AZURE_CONTROL_PLANE_OS_DISK_SIZE_GIB: <AZURE_CONTROL_PLANE_OS_DISK_SIZE_GIB>
AZURE_CONTROL_PLANE_OS_DISK_STORAGE_ACCOUNT_TYPE: <AZURE_CONTROL_PLANE_OS_DISK_STORAGE_ACCOUNT_TYPE>

AZURE_ENABLE_NODE_DATA_DISK: <AZURE_ENABLE_NODE_DATA_DISK>
AZURE_NODE_DATA_DISK_SIZE_GIB: <AZURE_NODE_DATA_DISK_SIZE_GIB>
AZURE_NODE_OS_DISK_SIZE_GIB: <AZURE_NODE_OS_DISK_SIZE_GIB>
AZURE_NODE_OS_DISK_STORAGE_ACCOUNT_TYPE: <AZURE_NODE_OS_DISK_STORAGE_ACCOUNT_TYPE>