INFRASTRUCTURE_PROVIDER: <INFRASTRUCTURE_PROVIDER>
CLUSTER_NAME: <CLUSTER_NAME>
CLUSTER_PLAN: <CLUSTER_PLAN>
ENABLE_AUDIT_LOGGING: "true"
ENABLE_MHC: "true"
ENABLE_DEFAULT_STORAGE_CLASS: "true"

NAMESPACE: "default"

CLUSTER_CIDR: <CLUSTER_CIDR>
SERVICE_CIDR: <SERVICE_CIDR>


OS_ARCH: amd64
OS_NAME: <OS_NAME>
OS_VERSION: <OS_VERSION>

CONTROL_PLANE_MACHINE_COUNT: <CONTROL_PLANE_MACHINE_COUNT>
WORKER_MACHINE_COUNT: <WORKER_MACHINE_COUNT>



