VSPHERE_SERVER:
VSPHERE_USERNAME:
VSPHERE_SSH_AUTHORIZED_KEY:
VSPHERE_DATACENTER:
VSPHERE_DATASTORE:
VSPHERE_FOLDER:
VSPHERE_INSECURE:
VSPHERE_TLS_THUMBPRINT:
VSPHERE_NETWORK:
VSPHERE_PASSWORD:
VSPHERE_RESOURCE_POOL:


