.env
*.nogit*
.bash_history
*.crt
.local
.azure
.bak
.nogit
.cache/
.config/
.vmware-cna-saas
.docker
tanzu
.m2
.redhat
.sts4
.tilt-dev
.vscode
.vscode-server


.ssh/*
!.ssh/.gitkeep
!.ssh/sshuttleconfig
.kube/*
!.kube/.gitkeep
binaries/*
!binaries/.gitkeep
!binaries/scripts
binaries/scripts/*
!binaries/scripts/.gitkeep

!binaries/bastion
binaries/bastion/*
!binaries/bastion/bastionhostmanagementsetup.sh
!binaries/bastion/bastionhostinit.sh
!binaries/bastion/bastionhostrun.sh
!binaries/bastion/Dockerfile


!binaries/init.sh
!binaries/tkginstall.sh


!binaries/installprofile.sh
!binaries/generate-profile-file.sh
!binaries/installdevnamespace.sh
!binaries/createakscluster.sh

!binaries/templates