.env
*.nogit*
.bash_history
*.crt
.local
.azure
.bak
.nogit
.cache/
.config/
.vmware-cna-saas
.docker
tanzu
.m2
.sts4
.tilt-dev
.vscode
.vscode-server
.kube-tkg
workload-clusters/*
!workload-clusters/.gitkeep

.ssh/*
!.ssh/.gitkeep
!.ssh/sshuttleconfig
.kube/*
!.kube/.gitkeep
binaries/*
!binaries/.gitkeep
!binaries/scripts
binaries/scripts/*
!binaries/scripts/.gitkeep

!binaries/tkc
binaries/tkc/*
!binaries/tkc/build-deployment-file.sh
!binaries/tkc/generate-tkc-file.sh

!binaries/bastion
binaries/bastion/*
!binaries/bastion/bastionhostmanagementsetup.sh
!binaries/bastion/bastionhostinit.sh
!binaries/bastion/bastionhostrun.sh
!binaries/bastion/Dockerfile


!binaries/init.sh
!binaries/tkginstall.sh
!binaries/tkgworkloadui.sh

!binaries/templates
sshuttle.pid


