.env
*.nogit*
.bash_history
*.crt
.local
.azure
.bak
.nogit
.cache/
.config/
.vmware-cna-saas
.docker
tanzu
.aws
awscli
.m2
.sts4
.tilt-dev
.vscode
.vscode-server
.kube-tkg
workload-clusters/*
!workload-clusters/.gitkeep

.ssh/*
!.ssh/.gitkeep
!.ssh/sshuttleconfig
.kube/*
!.kube/.gitkeep

binaries/*
!binaries/.gitkeep
binaries/scripts
!binaries/wizards
!binaries/templates
!binaries/tkgui.sh


sshuttle.pid

archives/*

